<!-- app/views/dogs/index.html.erb -->
<div id="title-login">
  <h1 class="text-center">Dogs <i class="fa-solid fa-dog"></i></h1>
</div>
<div class="container">
  <div class="row">
    <% @dogs.each_with_index do |dog, index| %>
      <div class="col-md-6 mb-4">
        <div class="card" style="padding: 10px;">
          <div class="card-img-container" style="margin: 10px; overflow: hidden; width: 100%; height: 300px; padding: 10px;">
            <% if dog.image_url.present? %>
              <%= link_to dog_path(dog) do %>
                <img src="<%= dog.image_url %>" class="card-img-top" alt="<%= dog.name %>" style="width: 100%; height: 100%; object-fit: cover; border-radius: 5px;">
              <% end %>
            <% else %>
              <%= link_to dog_path(dog) do %>
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Placeholder" style="width: 100%; height: 100%; object-fit: cover; border-radius: 5px;">
              <% end %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <strong>Name: </strong><%= link_to dog.name, dog_path(dog) %>
            </h5>
            <p class="card-text"><strong>Owner: </strong><%= "#{dog.user.first_name} #{dog.user.last_name}" %></p>
            <p class="card-text"><strong>Description: </strong><%= dog.description %></p>
            <p class="card-text"><strong>Price: </strong><%= number_to_currency(dog.price) %></p>
            <%= link_to 'Rent This Dog', new_dog_booking_path(dog, price: dog.price, dog_name: dog.name), class: 'button-styling' %>
          </div>
        </div>
      </div>
      <% if (index + 1) % 2 == 0 %>
      </div>
      <div class="row">
      <% end %>
    <% end %>
  </div>
</div>
