<!-- app/views/dogs/show.html.erb -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-img-container" style="padding: 10px;">
          <% if @dog.image_url.present? %>
            <img class="card-img-top" src="<%= @dog.image_url %>" alt="<%= @dog.name %>" style="width: 100%; max-height: 500px; object-fit: cover;">
          <% else %>
            <img class="card-img-top" src="https://via.placeholder.com/500" alt="Placeholder" style="width: 100%; max-height: 500px; object-fit: cover;">
          <% end %>
        </div>
        <div class="card-body">
          <h1><%= @dog.name %></h1>
          <p><strong>Description:</strong> <%= @dog.description %></p>
          <p><strong>Address:</strong> <%= @dog.address %></p>
          <p><strong>Price:</strong> <%= number_to_currency(@dog.price) %></p>
          <p><strong>City:</strong> <%= @dog.city %></p>
          <%= link_to 'Rent This Dog', new_dog_booking_path(@dog, price: @dog.price, dog_name: @dog.name), class: 'button-styling' %>
        </div>
      </div>
    </div>
  </div>
</div>
