<!-- app/views/bookings/index.html.erb -->
<div id="title-login">
  <h1 class="text-center">Your Bookings <i class="fa-solid fa-bars-progress"></i></h1>
</div>
<div class="bookings-section">
  <h2>Requests Made</h2>
  <% if @bookings_made.present? && @bookings_made.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dog Name</th>
          <th>Owner</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Price</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings_made.each do |booking| %>
          <tr>
            <td><%= booking.dog.name %></td>
            <td><%= booking.user.name %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <td><%= number_to_currency(booking.total_price) %></td>
            <td><%= booking.status %></td>
            <td><%= link_to 'Edit', edit_booking_path(booking), class: 'btn btn-secondary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No bookings made.</p>
  <% end %>
</div>
<% if current_user.owner? %>
  <div class="bookings-section">
    <h2>Requests Received</h2>
    <% if @bookings_received.present? && @bookings_received.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Dog Name</th>
            <th>Owner</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings_received.each do |booking| %>
            <tr>
              <td><%= booking.dog.name %></td>
              <td><%= booking.user.name %></td>
              <td><%= booking.start_date %></td>
              <td><%= booking.end_date %></td>
              <td><%= number_to_currency(booking.total_price) %></td>
              <td><%= booking.status %></td>
              <td>
                <% if booking.status == 'pending' %>
                  <%= link_to 'Accept', accept_booking_path(booking), method: :patch, data: { turbo_method: :patch }, class: 'btn btn-success' %>
                  <%= link_to 'Decline', decline_booking_path(booking), method: :patch, data: { turbo_method: :patch }, class: 'btn btn-danger' %>
                <% elsif booking.status == 'accepted' %>
                  <button class="btn btn-success" disabled>Accepted</button>
                <% elsif booking.status == 'declined' %>
                  <button class="btn btn-danger" disabled>Declined</button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No bookings received.</p>
    <% end %>
  </div>
<% end %>
