<!-- app/views/bookings/index.html.erb -->
<h1 class="text-center">Your Bookings</h1>

<% if @bookings.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Dog</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Total Price (CAD)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.dog.name %></td>
          <td><%= booking.start_date %></td>
          <td><%= booking.end_date %></td>
          <td><%= number_to_currency(booking.total_price) %></td>
          <td>
          <%= link_to 'Edit', edit_booking_path(booking), class: 'btn btn-warning btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-center">You have no bookings yet.</p>
<% end %>
