<div class="navbar navbar-expand-sm navbar-light navbar-lewagon card-margin">
  <div class="container-fluid">
    <%= link_to "/../", class: "navbar-brand" do %>
      <%= image_tag "https://media.istockphoto.com/id/1142468743/vector/heart-shape-icon-in-red-pink-colored-animal-paw-print.jpg?s=612x612&w=0&k=20&c=3XbuWQbzkeG7cAW5DS2oPxynbmhZ6hKzzOubA1N-_ts=" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Dogs", dogs_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "New Dog", new_dog_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Bookings", bookings_path, class: "nav-link" %>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">name</li>
      </ul>
    <div class="nav-item dropdown">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%# <img class="avatar-large" alt="avatar-large" src="../../assets/images/dog.jpg"> %>
          <%= image_tag "dog.jpg", class: "avatar-large", alt: "avatar-large" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%# <p><strong><%= "Hello #{current_user.first_name} #{current_user.last_name}!" %></strong></p> %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
</div>
