<div class="navbar navbar-expand-sm navbar-light navbar-lewagon card-margin navbar-customomize">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://media.istockphoto.com/id/1142468743/vector/heart-shape-icon-in-red-pink-colored-animal-paw-print.jpg?s=612x612&w=0&k=20&c=3XbuWQbzkeG7cAW5DS2oPxynbmhZ6hKzzOubA1N-_ts=" %>
    <% end %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Dogs", dogs_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "New Dog", new_dog_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          </li>
        </ul>
            <div class="nav-item dropdown">
              <div class="d-flex align-items-center">
              <a href="#" class="avatar text-decoration-none" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="d-flex flex-row-reverse">
                <%= image_tag "dog.jpg", class: "avatar-large", alt: "avatar-large" %>
                <ul class="navbar-nav me-auto">
                  <li class="nav-item"><%= "#{current_user.first_name} #{current_user.last_name}" %></li>
                </ul>
              </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <p class="username"><strong><%= "Hello #{current_user.first_name} #{current_user.last_name}!" %></strong></p>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="collapse navbar-collapse d-lex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        <% end %>
    </div>
  </div>
</div>
