<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbDemo</title>
    <link rel="shortcut icon" href="<%= image_tag "https://media.istockphoto.com/id/1142468743/vector/heart-shape-icon-in-red-pink-colored-animal-paw-print.jpg?s=612x612&w=0&k=20&c=3XbuWQbzkeG7cAW5DS2oPxynbmhZ6hKzzOubA1N-_ts=" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="container">
      <%= render "shared/navbar" %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <%= render "shared/flashes" %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
